

/*  Admin styles
================================== */


.aveff-clear-list{
    list-style: none;
}
.aveff_options_page{
    padding-right: 25px;
}
.aveff_options_page table.wp-list-table{
    margin-bottom: 15px;
}
.aveff_options_page table tr:nth-child(even){
    background: #f9f9f9;
}
.aveff_options_page table tbody tr th{
    width: 25%;
}
.carv-border-styles-list{
    margin-top: 0;
    margin-bottom: 0;
}
input.aveff_custom_checkbox[type=checkbox],
input.aveff_custom_radio[type=radio]{
    display: none;
}


.input-wrap2 {
    margin-bottom: 0;
    display: inline-block;
    border: 2px solid #d30000;
    font-size: 14px;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    position: relative;
    background: #e6e1e1;
    cursor: default;
}
.input-wrap2 .texts-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: flex-start;
    align-items: flex-start;

}
.input-wrap2 .aveff_custom_checkbox+label {
    background: #d30000;
    display: inline-block;
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s linear;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}
.input-wrap2 .aveff_custom_checkbox:checked+label {
    background-color: #0d9c0d;
}

.input-wrap2 .texts-wrap .on {
    transition-delay: .4s;
    color: #1d8b14;
    cursor: default;
    padding-left: 5px;
    padding-right: 1px;
}
.input-wrap2 .texts-wrap .off{
    cursor: default;
    padding-left: 1px;
    padding-right: 5px;
    color: #d30000;
    line-height: 17px;
}

.input-wrap2 .aveff_custom_checkbox:checked+label {
    left: 40%;
}

.input-wrap2 .aveff_custom_checkbox:checked~.on {
    color: #fff;
    transition-delay: .1s;
}



.carv-border-styles-list{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.carv-border-styles-list > li label span{
    width: 15%;
    display: inline-block;
}
.carv-border-styles-list > li:not(.aveff-current-bd-style){
    display: none;
    opacity: .3;
}
.carv-border-styles-list > li.aveff-current-bd-style{
    order: -5;
}
input.aveff_avatar_size{
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
.aveff_btm_space{
    margin-bottom: 10px;
}
.aveff_options_page input[type=color]{
    width: 200px;
    height: 34px;
}
.aveff_settings_fields_list > li .left-side{
    display: inline-block;
    width: 190px;
}
.aveff_settings_fields_list > li input,
.aveff_settings_fields_list > li select{
    width: 200px;
    margin-right: 2px;
}
.aveff_settings_fields_list > li textarea{
    width: 400px;
}
.aveff_settings_fields_list > li{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.aveff_settings_fields_list > li .avatar_shadow_type_radios{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}
.aveff_settings_fields_list > li .avatar_shadow_type_radios label{
    padding: 2px 5px;
    background: #fff;
    color: #000;
    border: 1px solid #A5A5A5;
    transition: all .2s;
}
.aveff_settings_fields_list > li .avatar_shadow_type_radios input[type=radio]:checked + label{
    color: #fff;
    background: #A5A5A5;
    cursor: default;
}
.hide-for-default{
    display: none;
}
.aveff_options_page select{
    width: 168px;
}
.aveff_options_page{
    position: relative;
}
.aveff_options_page .aveff_avatar_zoom_size{
    padding-top: 10px;
    width: 167px;
    position: relative;
}
.aveff_options_page .aveff_avatar_zoom_size > div{
    margin-bottom: 10px;
}
.aveff_options_page .aveff_avatar_zoom_size input{
    display: inline-block;
    width: 100%;
}
.aveff_options_page .aveff_example_avatar_for_review{
    position: fixed;
    top: 40%;
    right: 150px;
}
.aveff_align-right{
    text-align: right;
}
#aveff_example_avatar_for_review .avatar{
    transition: all .3s;
    box-shadow: none;
    transform: perspective(100px);
}
#aveff_example_avatar_for_review .avatar.allow-zoom:hover{
    transform: scale(2)!important;
}
@media screen and (max-width: 40em){

}